body {
    text-align: center;
    margin: 1rem;
    font-family: Segoe 'UI';
}

.background {
    display: flex;
    flex-direction: column;
    background-color: #f7fced;
    width: 820px;
    height: 1200px;
    margin: auto;
}

.tekstas {
    font-size: 11px;
    caption-side: bottom;
    background-color: white;    
}

caption {
    font-family: 'times new roman';
}

.kalendorius {
    margin: auto;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

table, tr, td {
    width: 33.3%;
    table-layout: fixed;
    text-align: center;
    font-size: 15px; 
    border-collapse: collapse;
}

tr, th, td {
    padding: 5px;
}

table {
    box-shadow: 0 3px 5px 5px #d8d7d758;
}

th {
    font-weight: normal;
    background-color: #58d97c;
    color: white;
}

